---

---

<nav id="navbar" class="close">
  <img src="/banniere.svg" />
  <div id="navbar-responsive">
    <div id="navbar-header">
      <a id="navbar-brand" href="/">
        <span>Agrok</span>
      </a>
    </div>
    <button id="navbar-menu-open"> </button>
    <button id="navbar-menu-close"> </button>
  </div>
  <div id="navbar-menu">
    <a href="/cueillette-de-plantes">Cueillette de plantes</a>
    <a href="/collecte-de-semences">Collecte de semences</a>
    <a href="/bonnes-pratiques">Bonnes pratiques</a>
    <a href="/mes-secteurs">Mes secteurs</a>
    <a href="/contact">Contact</a>
  </div>
</nav>
